extends _layouts/container

block prepend title
  | #{ title } - 

block container
  h1 Welcome
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quidem doloribus debitis deserunt et aut, eligendi perferendis, magnam consequatur totam dolorum dolor, est quia at temporibus ex vel nisi, inventore!