extends _layouts/container

block prepend title
  | Welcome - 

block container
  :markdown
    # Welcome to `harp-starter`

    ## Build

    ```bash
    npm run build
    ```

    ## Serve

    ```bash
    npm run serve [--port=9000]
    ```