extends _layouts/container

block prepend title
  | #{ title } - 

block container
  h1 Welcome to 
    code harp-starter

  p.lead An opinionated Harp boilerplate, with improvements that fit my typical Harp workflow.

  :markdown
    - [Bootstrap](http://getbootstrap.com/) and [jQuery](https://jquery.com/)
    - [Browserify](http://browserify.org/)
    - [Font Awesome](http://fortawesome.github.io/Font-Awesome/)
    - **Support for using external libraries in templates:**
      - [Moment.js](http://momentjs.com/)
      - [Underscore.js](http://underscorejs.org/)
      - Easily add your own!

    ## Local Development Server

    - Copies fonts from bootstrap and font-awesome
    - Watches `assets/js/app.js` for changes and recompiles to `assets/js/bundle.js`
    - Serves via `harp server`

    ```shell
    npm run dev
    ```

    ## Build

    ```shell
    npm run build
    ```

    ## Serve

    ```shell
    npm run serve [--port=9000]
    ```